# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DB LOCALHOST
DATABASE_URL=

# DB RAILWAY
# DATABASE_URL="postgresql://postgres:tVGdUrab2ISnBVpYeH19@containers-us-west-60.railway.app:5470/railway"

# GMAIL
NODEMAILER_GMAIL_USER=
NODEMAILER_GMAIL_PASS=

# MAILTRAP
NODEMAILER_MAILTRAP_USER=
NODEMAILER_MAILTRAP_PASS=

# TWILIO SMS
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SMS_FROM=
